<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  
<supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="host" value="hostname"/>
    <add key="port" value="1521"/>
    <add key="sid" value="oraclesid"/>
    <add key="user" value="username"/>
    <add key="password" value="password"/>
    <add key="table" value="tablename"/>

    <add key="to" value="user1@company.ru"/>
    <add key="from" value="info@company.ru"/>
    <add key="mailserver" value="mailserver.company.ru"/>
    <add key="subject" value="Дни рождения на ближайшие 10 дней"/>
  </appSettings>
</configuration>
